.header {
	box-sizing: border-box;
	display: grid;
	grid-template-areas:
		"title cart"
		"content cart";
	grid-template-columns: 1fr 300px;
	height: auto;
}

.header__title {
	grid-area: title;
}

.header__cart {
	grid-area: cart;
}

.header__content {
	grid-area: content;
}

.header__content__back {
	width: auto;
}
