.home {
	display: grid;
	height: 100%;
	grid-template-areas: 
		"header"
		"content"
		"footer";
	grid-template-rows: auto 1fr 50px;
}

.header {
	grid-area: header;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
}