.cart {
	background-color: #6b6b6b;
	box-sizing: border-box;
	color: #eaeaea;
	border-radius: 15px;
	padding: 9px 21px;
	width: 100%;
}

.cart__pokemon {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.cart-pokemon__details {
	flex-grow: 1;
}

.cart__pokemon__price {}

.cart__subtotal {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.cart__subtotal__text {
	flex-grow: 1;
}

.cart__subtotal__price {}